################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DepositSale/bin
/DepositSale/obj/Debug
/DepositSale/DepositSale.csproj.user
