@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Deposit and Sale Application</h1>
</div>

<div class="row">
   <div class="col-md-4">
      <h2>Welcome to Deposit and Sale Application</h2>
      <p>
         Deposit and Sale Application is an application
         helping a shop manager in his all-day tasks.
      </p>
   </div>
</div>